#trend-view .axis {
    font-family: arial;
    font-size:0.6em;
}

#trend-view path {
    fill:none;
    stroke:black;
    stroke-width:2px;
}

#trend-view .tick {
    fill:none;
    stroke:black;
}

#trend-view circle{
    stroke:black;
    stroke-width:0.5px;
}

#trend-view .legend {
    padding: 5px;
    font: 10px sans-serif;
    background: yellow;
    box-shadow: 2px 2px 1px #888;
}

#sankey-view .node rect {
  cursor: pointer;
  shape-rendering: crispEdges;
}

#sankey-view .node.transparent rect {
  opacity: 0.2;
}

#sankey-view .node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

#sankey-view .link {
  fill: none;
  stroke: #000;
  stroke-opacity: 0.1;
}

#sankey-view .link:hover, #sankey-view .link.active {
  stroke-opacity: .5;
}
